.cards {
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
img {
    height: 50vh;
    margin: 0 auto;
    transition-duration: 1s;
}
#messi {
    height: 50vh;
}
#ground {
    position: absolute;
    z-index: -12;
    height: 200vh;
    margin-top: -200px;
    margin-left: -25px;
    margin-right: 100px;
    width: 100vw;
    /* filter: brightness(.5) blur(5px); */
}
.ok:hover {
    transform: rotatey(360deg) scale(1.8);
}
h1 {
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}